.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #5271ff;
  padding: 10px;
  border-bottom: 2px solid #5271ff;
  height: 100px;
}
.mobileText{
  display: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}

.navbar .logo {
  width: 10rem;
  height: 100%;
  object-fit: cover;
}

.dienst {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

.dienst li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: navy;
}

.contact .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5271ff;
  color: white;
  padding: 0 20px;
}

header .contact p {
  font-weight: bold;
}

header .contact div a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header .contact div a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  color: #5271ff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -15px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #5271ff;
  padding: 12px 0px;
  text-align: center;
  padding:10px 5px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black
}

.homeLink {
  text-decoration: none;
  color: #5271ff;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header{
    width: 100vw;
  }
  header .contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-start;
    align-items: center;
    background-color: #5271ff;
    color: white;
    padding: 100px 20px;
    position: fixed;
    top:70%;
    right: -320px;
    width: 300px;
    height: 100vh;
    z-index: -1;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 10px;
    transition: 0.3s ease-in-out;
  }
  .dienst{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: #5271ff;
    color: white;
    padding: 0 20px;
    position: fixed;
    top:10%;
    right: -320px;
    width: 300px;
    height: 50vh;
    z-index: -1;
    padding: 40px 10px;
    transition: 0.3s ease-in-out;
  }
  .mobileText{
    display: block;
    color: white;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  .mobileText:last-of-type{
    margin: 0 auto;
  }
  header .contact.active{
    right: 0px
  }
  .dienst.active{
    right: 0px
  }
  header .contact .info{
    font-size: 0.8rem;
  }
  header .contact .info:nth-child(2){
    position: relative;
    font-size: 0.8rem;
  }
  header .contact .info:nth-child(2) #dot{
    position: absolute;
    top: -3px;
    left: -6%;
  }
  .homeLink {
    padding-top: 10px;
    text-decoration: none;
    color: white;
  }
  .dropdown-btn{
    color: white;
  }
  .navbar {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar .logo {
    width: 100px;
    height: 100px;
  }

  #mobile {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 500px) {
  .navbar .openmenu {
    display: none;
  }
}