.impressumBody{
    margin-top: 180px;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #5271ff;
    margin: 3rem auto;
    padding: 0;
    width: 40%;
}

.impressumTitle{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align: center;
}

.impressCard h3{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.impressCard p{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
}

.impressCard2{
    width: 80%;
    margin: 0 auto;
}

.impressCard2 h3{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.impressCard2 p{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
}

@media only screen and (max-width: 760px){
    .impressumBody{
        margin-top: 110px;
    }
}